.menu {
  z-index: 10;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 120px;
  height: 100%;
  width: 100%;
}
.nav {
  z-index: 30;
  position: absolute;
  background-color: transparent !important;
  margin: 10px;
}
.nav img {
  max-width: 32px;
}
.menu button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu img {
  margin: 0;
  position: absolute;
  margin-top: 100px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
